# Maven target directory (compiled files)
target/

# Maven Wrapper JAR (keep this if using mvnw)
!.mvn/wrapper/maven-wrapper.jar

# Ignore any target or build folders inside main/test
**/target/
**/build/

# Eclipse / Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Visual Studio Code
.vscode/

# Logs
*.log

# OS / temporary files
.DS_Store
Thumbs.db
*.tmp
